.adminTable{
    margin:0%;
}

.tableHeader{
    text-decoration: underline;
}

.thickColumn{
    width: 200;
    margin-left: 5;
    margin-right: 5;
    text-align: center;
}

.thinColumn{
    width: 50;
    margin-left: 5;
    margin-right: 5;
    text-align: center;
}

.medColumn{
    width: 100;
    margin-left: 5;
    margin-right: 5;
    text-align: center;
}