.adminTable{
    margin:0%;
}

.column{
    width: 15%;
    padding-left: 2.5px;
    padding-right: 5px;
}

.table{
    table-layout: fixed;
    text-align:center;
    width: 100%;
}

.info-table table{
    justify-content:center;
    width: inherit;
}

.inner-card{
    margin:0%;
}

.inner-element{
    margin-left: 1%;
    margin-right: 1%;
}