.slider{
    width: 90%;
    height: 20%;
}

.input{
    width: 100%;
    height: 20%;
}

.wrapper {
    display:flex;
}

.select{
    width: 100%;
}

.button{
    width: 30%;
    margin-top: 3%;
    margin-left: 35%;
    margin-right: 35%
}

.create-form {
    display: grid;
    justify-self: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    grid-column-gap: 2.5%;
    columns:2;
    margin-bottom: 10%;
}

.customer-components{
    grid-column:2;
}

.required-components{
    grid-column: 1;
}