.table{
    display:table;
    border-spacing: 2px;
    border-color: black;
}

.wrapper {
    display:flex;
}

.new-comment{
    width: 40%;
}

.first-column{
    width: 22.5%;
}

.second-column{
    padding-left: 2.5%;
    width: 22.5%;
}

.third-column{
    padding-left: 2.5%;
    width: 35%;
}

.comments-button{
    margin-left:1%;
    margin-bottom: 2.5%;
}